.post{
   border: solid 5px green;
        padding: 5px;
        display: inline-block;
}

.card{
        border-radius: 10%;
        padding: 5px;
        display: inline-block;
        background-color: rgb(255, 255, 255);
}